

.cursor-cat {
    position: absolute;
    width: 50px;
    pointer-events: none;
    z-index: 1000;
    transform: translate(-50%, -50%);
    animation: bounce 0.5s infinite alternate;
  }
  
  @keyframes bounce {
    0% { transform: translate(-50%, -50%) translateY(0); }
    100% { transform: translate(-50%, -50%) translateY(-20px); }
  }

  .astloch-regular {
    font-family: "Astloch", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .astloch-bold {
    font-family: "Astloch", system-ui;
    font-weight: 700;
    font-style: normal;
  }
  


  .header {
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "Astloch", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    letter-spacing: 5px;
    background: linear-gradient(90deg, #ff00cc, #ff00ee, #f468d8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px 20px;
  }

  body {
    background: url('/v01-canard/img/200w.gif') no-repeat top left;
    animation: backgroundScroll 5s linear infinite;
  }

  @keyframes backgroundScroll {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 100%;
    }
  }














  
